.go-to {
  cursor: pointer;
}
.go-to:hover {
  color: blue;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  position: fixed;
  width: 100%;
  top: 0;
}
.header img {
  width: 40px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}
h1 {
  background-color: #060b26;
  color: blue;
}
img {
  width: 88vw;
  height: 65vh;
}